version: 2.1

orbs:
  architect: giantswarm/architect@6.12.0

jobs:
  build-and-deploy-dashboards:
    docker:
    - image: cimg/go:1.26.0
    steps:
    - run: go install github.com/google/go-jsonnet/cmd/jsonnet@latest
    - run: git clone https://github.com/grafana/grafonnet-lib.git $GOPATH/src/github.com/grafana/grafonnet-lib
    - checkout
    - run: ./scripts/make-dashboards.sh
    - run:
        command: |
          if [ "${CIRCLE_BRANCH}" == "main" ]; then
            ./scripts/upload-dashboards.sh
          fi

workflows:
  package-and-push-chart-on-tag:
    jobs:
    - build-and-deploy-dashboards:
        filters:
          tags:
            only: /^v.*/

    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: app-catalog
        app_catalog: control-plane-catalog
        app_catalog_test: control-plane-test-catalog
        chart: dashboards
          # Trigger job on git tag.
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master
        requires:
        - build-and-deploy-dashboards

